.table-loading{
	position: fixed;
	color: #00bfff;
	top: 5px;
	left: -webkit-calc(100%/2 - 12px);
	left: calc(100%/2 - 12px);
	z-index: 9;
	display: none;
	-webkit-animation: rotate 1s infinite;
	animation: rotate 1s infinite;
}
@-webkit-keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
.mui-plus-pullrefresh .mui-pull-bottom-pocket, .mui-plus-pullrefresh .mui-pull-top-pocket{
	background-color: #353333;
	color: #FFF;
}
.mui-plus-pullrefresh .mui-pull-bottom-pocket, .mui-plus-pullrefresh .mui-pull-top-pocket .mui-pull{
	color: #FFF !important;
}
